.container-foo {
    background-color: #172337;
    color: #fff;
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    clear: both;
    /* padding-top: 30px; */
}

.heading {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.list Box {
    text-align: left;
}

List {
    border-bottom: none;
}